*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(70, 142, 236);
    font: normal 15px arial;
}

header{
    color: white;
    text-align: center;
    margin: 30px auto 0 auto;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.300);
}

div{
    text-align: left;
    margin: 20px auto;
    font-size: 1.3em;
}

#ano-nascimento{
    width: 65px;
    text-align: center;
    margin-left: 10px;
}

div p{
    margin: 20px auto;
    text-align: left;
}

#masc, #fem{
    margin-left: 10px;
}

#btn{
    text-align: center;
    margin: 60px auto 0 auto;
}

#btn > input{
    width: 120px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: rgb(70, 142, 236);
    color: white;
}

#btn > input:hover{
    background-color: rgba(70, 142, 236, 0.500);
    color: black;
}

div .adulto-feminino{
    width: 250px;
    height: 250px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin: 30px auto;
}